.apropos {
    margin: 50px;
    .container {
        padding-bottom: 25px;
        margin: auto;
        max-width: 1000px;
    }
}
    
@media (max-width: 768px) {
    .apropos {
        margin: 20px 27px;
        .container {
            padding-bottom: 0;
        }
    }
}