.banner {
    position: relative;
    margin: auto;
    margin-bottom: 35px;
    height: 223px;
    border-radius: 20px;
    max-width: 1240px;
    width: 100%;
    overflow: none;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }
    &__h1 {
        position: absolute;
        width: calc(100% - 20px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 10px;
        font-size: 44px;
        color: white;
        text-align: center;
    }
    &__img {
        object-fit: cover;
        overflow: hidden;
        border-radius: 20px;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 738px) {
    .banner {
        height: 111px;
        margin-bottom: 0px;
        &__h1 {
            font-size: 24px;
        }
    }
}
