@import 'variables';

.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin-left: 50px;
    margin-right: 50px;
    &__h1 {
        margin-top: 139px;
        font-size: 288px;
        color: $maincolor;
    }
    &__p {
        color: $maincolor;
        font-weight: 500;
        font-size: 36px;
    }
    &__link {
        text-decoration: underline;
        color: black;
        font-size: 18;
        margin-bottom: 139px;
    }
}

@media (max-width: 768px) {
    .page404 {
        gap: 113px;
        margin-left: 50px;
        margin-right: 50px;
        &__h1 {
            margin-top: 113px;
            font-size: 96px;
        }
        &__p {
            font-size: 18px;
        }
    }
}
